// Breakpoint variables
$breakpoint-xs: 639px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// Media queries
@mixin screen-xs {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

@mixin screen-sm {
  @media (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin screen-2xl {
  @media (min-width: $breakpoint-2xl) {
    @content;
  }
}

// Grid
@mixin gridy {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-column-gap: 0.5rem;
}

.gridy {
  @include gridy;
}
